name: Cypress Auto Run

on:
  push:
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cypress-io/github-action@v6
        with:
          spec: cypress/e2e/TestCase6-10.cy.js
